body {
    font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 800px;
    /* float: left; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F0F0F0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 15px 16px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 50px;
    font-family: Roboto;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: black;
}

/* Main content */
.main {
    /* width: 75%; */
    /* float: right; */
    /* padding-left:10px; */
    height: 100%;
    /* margin-top: 50px; */
    margin-left: 850px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
    background-color: #F0F0F0;
}

/* Add an active class to the active dropdown button */
.active {
    /* background-color: white; */
    color: black;
    margin-right: 20px;
    padding-right: 50px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: white;
    padding-top: 8px;
    padding-left: 8px;
    margin-left:60px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 10px;
    /* border-bottom-right-radius: 4px; */
    padding: 20px;
    font-family: Roboto;
    font-size: 24px;
    box-shadow: 10px 5px 5px lightgray;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
    padding-left: 10px;

    /* margin-right: 50px; */
}

.munic-options {
    font-size: 20px;
    margin-left: 40px;
}


canvas { max-width: 800px; }

#mapid { 
    /* padding-top: 50px; */
    height: 1500px; 
    width: 98%; 
    padding-top: 20px;
}

.legend {
    line-height: 18px;
    color: white;
    font-size: 30px;
    line-height: 40px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    opacity: 0.7;
}

.material-icons {
    padding: 15px;
    color: #404040;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 5px lightgray;
    font-size: 30px;
}

.g-icon {
    box-shadow: 10px 5px 5px lightgray;
}

input[type=number] {

    border-radius: 20px;
    text-align: center;
    outline: none;
    width: 80px;
    height: 30px;
    font-family: Roboto;
    font-size: 22px;

}


h4 {
    padding: 6px 8px 0px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    outline: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 50px;
    font-family: Roboto;
    font-weight: normal;
}


h5 {
    color: #0E0C28; 
    font-weight: normal; 
    font-family: Roboto;
    padding: 10px; 
    text-align: center;
    font-size: 24px;
}


h1 {
    padding: 6px 8px 0px 16px;
    margin-left: 20px;
    color: #0E0C28; 
    font-family: Roboto; 
    font-weight: normal; 
    font-size: 35px; 
    font-weight: bolder;
}

h2 {
    color: #0E0C28; 
    font-family: Roboto; 
}

.predict-button {
    background-color: #0E0C28;
    color: white;
    height: 70px;
    font-size: 24px;
    border-radius: 10px;
    font-family: Roboto; 
    box-shadow: 10px 5px 5px lightgray;
    margin-left: 110px;
    width: 575px;
    font-weight: bolder;
    cursor: pointer;
    /* padding-top: 20px; */
}


/* On mouse-over */
.predict-button:hover {
    background-color: white;
    border-color: #0E0C28;
    color: #0E0C28;
}


#status {
    color: #0E0C28;
    height: 70px;
    font-size: 24px;
    font-family: Roboto; 
    margin-left: 110px;
    width: 575px;
    font-weight: bolder;
    /* padding-top: 20px; */
}


.stat-box {
    background-color: white; 
    width: 400px;
    height: 150px; 
    border-radius: 15px;
    box-shadow: 10px 5px 5px lightgray;
}


hr {
    margin-left: 40px;
    box-shadow: 10px 5px 5px lightgray;
}

#pchange_icon {
    box-shadow: 0px 0px 0px white;
    font-size: 50px;
}

#page_change_icon {
    box-shadow: 0px 0px 0px white;
    font-size: 50px;
}

.item-s1 { grid-area: s1; }
.item-s2 { grid-area: s2; }
.item-s3 { grid-area: s3; }
.item-s4 { grid-area: s4; }

.item-s5 { grid-area: s5; }


.grid-container {
    display: grid;
    grid-template-areas:
        's1 s2 s3 s4'
        's5 s5 s5 s5';
    grid-gap: 40px;
    padding: 10px;
    margin-top: 40px;
    margin-right: 50px;
    /* width: 98%; */
}

.grid-container > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    box-shadow: 10px 5px 5px lightgray;
    border-radius: 15px;
}

#confirm .message {
    text-align: center;
 }

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
